
<div class="container">
    <div class="left">
      <div class="left-wrapper">
        <div class="left-content">
          <p class="heading-1">By 3D Craft Solutions</p>
          <p class="heading-2">3D Printing Digital Dentisary</p>
          <button class="btn">Know More</button>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-wrapper">
        <div class="right-content">
          <p class="heading-1">BY 3D Craft Solutions</p>
          <p class="heading-2">AI Software Solutions</p>
          <button class="btn">Know More</button>
        </div>
      </div>
    </div>
  </div>
